<%= form_with url: "/searches", method: :post, data: { turbo: false,remote:true} do |form| %>
  <%= form.text_field :search_text ,id:"searchInputBox"%>
  <%= form.button "search" %>
<% end %>
<br/>
<h1>Users search for</h1>

<ul id="searches">

</ul>
<h2>Search result</h2>
<ul>
<%= render partial: "shared/result", locals: {search: @search_text} %>
</ul>